<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Create country</title>
</head>
<body>
<h1>Create country</h1>
<p>
    <a href="/countryes"><input type="submit" value="DS Quốc gia"></a>
</p>
<p>
    <a href="/list-citys"><input type="submit" value="DS Thành phố"></a>
</p>

<th:block th:if="${message}">
    <p th:text="${message}"></p>
</th:block>
<form th:action="@{/create-country}" th:object="${country}" method="post">
    <table>
        <tr>
            <td>Name:</td>
            <td><input  required placeholder="tên quốc gia"   type="text" th:field="*{name}"/></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Create country"></td>
        </tr>
    </table>
</form>
</body>
</html>