<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Delete country</title>
</head>
<body>
<h1>Delete country</h1>
<h2>Are you sure?</h2>
<p>
    <a href="/countryes"><input type="submit" value="DS Quốc Gia "></a>
</p>
<p>
    <a href="/list-citys"><input type="submit" value="DS Thành phố"></a>
</p>

<form th:action="@{/delete-country}" th:object="${country}" method="post">
    <input th:type="hidden" name="id" th:field="*{id}">
    <table>
        <tr>
            <td>Name:</td>
            <td th:text="${country.name}"></td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Delete country" onclick="return confirm('Xoa nhe')"></td>
        </tr>
    </table>
</form>
</body>
</html>